<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather-Page</title>
</head>
<body style="background-color:grey;">
    {% for state_menu in post %}
    <!-- yaha se ye reports (jo action mei likhe hai) page mei chala jaaega, post clicking the submit -->
<form action="/weatherReports" method="POST">
  <label>Choose the States :</label>
  <select name="stateSelection">
    <option value={{state_menu.city1}}>Bihar</option>
    <option value={{state_menu.city2}}>Delhi</option>
      <option value={{state_menu.city3}}>Maharashtra</option>
    <option value={{state_menu.city4}}>Chattisgarh</option>
      <option value={{state_menu.city5}}>TamilNadu</option>
    <option value={{state_menu.city6}}>Andhra Pradesh</option>
  </select>
  <input type="submit">
</form>
    {% endfor %}
</body>
</html>