<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature</title>
</head>
<body style="background-color:lightblue;">
<img src="F://python_flask_module//flask_modules//templates//images.jpg">
<h1>The temperature is : {{ state_temp }}</h1>

</body>
</html>